
.vs/
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

x64/
x86/
Win32/
Debug/
Release/
*.obj
*.ilk
*.pdb
*.tlog
*.idb
*.ipch
*.exe
*.exp
*.lib
*.log
*.vsidx
*.wsuo

!Assets/**/*.obj

Log/Log.txt
imgui.ini
